arxiv
scholarly
requests
beautifulsoup4
pandas
numpy
matplotlib
seaborn
plotly
networkx
nltk
scikit-learn
PyPDF2
bibtexparser
wordcloud
gensim
selenium
pytesseract
pdfplumber
spacy
# Faiss 벡터 데이터베이스 지원
faiss-cpu
torch
transformers
langchain-huggingface
# GPU 사용시 faiss-cpu 대신 faiss-gpu 설치
# pip install faiss-gpu